<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cleanfreshly a Home Maintenance & Service Category Bootstrap Responsive Web Template | Home :: W3layouts
	</title>

	{% load static %}
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<ul class="accounts col-sm-8">
<!--						<li class="top_li"><span class="fa fa-clock-o"></span> <a href="#">Monday - Friday: 10:00 - -->
<!--								18:00</a>-->
<!--						</li>-->
						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span>
							<a href="mailto:eventmanageemail1@gmail.com" class="mail"> eventmanageemail1@gmail.com</a>
						</li>
						<li class="top_li"><span class="fa fa-phone"></span>
							<a href="tel:+917994428566">+917994428566</a>
						</li>

					</ul>
					<ul class="social-top col-sm-4">
						<li><a href="https://www.facebook.com/login.php/"><span class="fab fa-facebook"></span></a></li>
						<li><a href="https://www.instagram.com/accounts/login/?hl=en"><span class="fab fa-instagram"></span></a> </li>
						<li><a href="https://twitter.com/login"><span class="fab fa-twitter"></span></a></li>
						<li><a href="https://vimeo.com/log_in"><span class="fab fa-vimeo"></span></a> </li>
						<li>
							<a href="https://www.linkedin.com/login">
								<span class="fab fa-linkedin"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand" href="index.html">Event<span>Master</span></a></h1>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="services">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact">Contact</a>
						<li class="nav-item">
							<a class="nav-link" href="login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="signup">Sign up</a>
						</li>
						</li>
					</ul>
<!--					<a href="#" class="ml-lg-3 mt-lg-0 mt-3 book btn btn-secondary btn-style">Get started</a>-->
				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //w3l-header -->
	<!-- /breadcrumbs -->
	<nav id="breadcrumbs" class="breadcrumbs">
		<div class="container page-wrapper">
			<a href="#">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
		</div>
	</nav>
	<!-- //breadcrumbs -->
	<section class="w3l-content-about-grid">
		<div class="about-inner-cont py-5">
			<div class="container py-lg-5">
				<div class="row content-ab-grids">
					<div class="col-lg-6 content-ab-left">
						<div class="title-content text-left">
							<h6 class="sub-title">Welcome to Eventmaster</h6>
							<h3 class="hny-title">About Our Platform</h3>
						</div>
						<p>We specialize in connecting local communities with exciting events in their area.
							Whether you're looking to attend, host, or promote an event, our platform is designed to meet your needs.
							We believe in fostering a vibrant community by making events accessible and easy to manage.</p>
						<p class="mb-5">Our platform is user-friendly, allowing organizers to create events effortlessly and
							participants
							to discover them with ease. From concerts to workshops, our goal is to bring people together
							through shared experiences.</p>
						<img src="{% static 'images/ab2.jpg' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-lg-6 content-ab-right pl-lg-5 mt-lg-0 mt-5">
						<img src="{% static 'images/ab3.jpg' %}" class="img-fluid" alt="" />
						<div class="title-content text-left mt-5">
							<h6 class="sub-title">Simple Text</h6>
							<h3 class="hny-title">Why Choose Us</h3>
						</div>
						<p>We are dedicated to creating a seamless experience for both event organizers and attendees.
							Our platform is built with the latest technology to ensure a smooth and secure process
							from start to finish. We prioritize user satisfaction by continuously improving our features
							based on feedback from our community.</p>
						<p>With our extensive network and intuitive design, we make finding and managing events a breeze.
							Trust us to handle the logistics while you focus on enjoying or hosting your event.</p>

					</div>
				</div>



			</div>
		</div>
	</section>
	<section class="w3l-progress-6">
		<!-- /content-6-section -->
		<div class="progress-6-mian py-5">
			<div class="container py-lg-3">
				<div class="progress-in row">
					<div class="content-gd col-lg-6">
						<div class="title-content text-left">
							<h6 class="sub-title">Simple Text</h6>
							<h3 class="hny-title">Our Experience in Event Management</h3>
							<p>With over 17 years of professional experience in the event management industry,
								we bring a wealth of knowledge and expertise to our platform. We understand the
								challenges that come with organizing and attending events, which is why we've
								tailored our services to address every aspect of the event management process.</p>
						</div>
					</div>
					<div class="content-gd col-lg-6 mt-lg-0 mt-4">
						<div class="progress-info">
							<h6 class="progress-tittle">Event Planning</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info">
							<h6 class="progress-tittle">Venue Booking</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info">
							<h6 class="progress-tittle">Event Promotion
							</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
									aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info">
							<h6 class="progress-tittle">Attendee Satisfaction</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
									aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //progress-->
	<!--/team-sec-->
	<section class="w3l-team-main">
		<div class="team py-5">
			<div class="container py-lg-5">
				<div class="title-content text-center">
					<h6 class="sub-title">Meet Our</h6>
					<h3 class="hny-title">Amazing Team</h3>
					<p class="title-para">Our team is made up of passionate professionals dedicated to making
						your event experience exceptional. From customer support to technical development, each
						member of our team plays a crucial role in ensuring our platform runs smoothly and efficiently.</p>
				</div>
				<div class="row team-row">
					<div class="col-lg-3 col-sm-6 team-wrap">
						<div class="team-info text-left">
							<div class="column position-relative">
								<a href="#url"><img src="{% static 'images/team1.jpg' %}" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								<h3 class="name-pos"><a href="#url">Mohan Krishnan</a></h3>
								<p>Expert in event logistics with a deep understanding of what
									it takes to run successful events.</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
									</div>
									<div class="social-right">
										<a href="#email" class="email"><span class="fa fa-envelope-o"></span></a>
										<a href="#phone" class="phone"><span class="fa fa-phone"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end team member -->

					<div class="col-lg-3 col-sm-6 team-wrap">

						<div class="team-info text-left">
							<div class="column position-relative">
								<a href="#url"><img src="{% static 'images/team2.jpg' %}" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								<h3 class="name-pos"><a href="#url">Rohini Nair</a></h3>
								<p>Skilled in community engagement and user experience design,
									ensuring our platform is intuitive and user-friendly. </p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
									</div>
									<div class="social-right">
										<a href="#email" class="email"><span class="fa fa-envelope-o"></span></a>
										<a href="#phone" class="phone"><span class="fa fa-phone"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end team member -->

					<div class="col-lg-3 col-sm-6 team-wrap">
						<div class="team-info text-left">
							<div class="column position-relative">
								<a href="#url"><img src="{% static 'images/team3.jpg' %}" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								<h3 class="name-pos"><a href="#url">Ajay Menon</a></h3>
								<p>A tech-savvy developer focused on maintaining the security and reliability of our platform. </p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
									</div>
									<div class="social-right">
										<a href="#email" class="email"><span class="fa fa-envelope-o"></span></a>
										<a href="#phone" class="phone"><span class="fa fa-phone"></span></a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- end team member -->
					<!-- end team member -->

					<div class="col-lg-3 col-sm-6 team-wrap">

						<div class="team-info text-left">
							<div class="column position-relative">
								<a href="#url"><img src="{% static 'images/team4.jpg' %}" alt=""
										class="img-fluid team-image" /></a>
							</div>
							<div class="column">
								<h3 class="name-pos"><a href="#url">Sunita Varma</a></h3>
								<p>Specializes in customer support, always ready to assist with any
									inquiries or issues that arise.</p>
								<div class="social">
									<div class="social-left">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook"
												aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter"
												aria-hidden="true"></span></a>
									</div>
									<div class="social-right">
										<a href="#email" class="email"><span class="fa fa-envelope-o"></span></a>
										<a href="#phone" class="phone"><span class="fa fa-phone"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--//team-sec-->
	<!-- /specification-6-->
	<section class="w3l-satisfied-main">
		<div class="satisfy-content py-5">
			<div class="container py-lg-5">
				<h6 class="sub-title">Satisfied Clients</h6>
				<h3 class="hny-title two"> We Providing A High Quality Services</h3>
				<p class="counter-sub-para">We are committed to providing high-quality services
					that meet the needs of our users. From seamless event creation to secure payment processing,
					our platform is designed to support you every step of the way.</p>
				<!--start-divice-scree-slider-->
				<div class="skill_info mt-lg-5 mt-4">
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">165</p>
								<h3>Events </h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">563</p>
								<h3>Satisfied Organizers</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">645</p>
								<h3>Happy Participants</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">465</p>
								<h3>Successful Promotions</h3>
								<p class="counter-para"> for Local Events</p>
							</div>
						</div>
					</div>

				</div>

			</div>
	</section>
	<!-- //specification-6-->
	<!--/testimonials-->
	<section class="w3l-testimonials" id="testimonials">
		<div class="testimonials py-5">
			<div class="container py-lg-5">
				<div class="title-content text-center">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="hny-title">What our Clients say</h3>
					<p class="title-para">We've had an amazing experience using this platform to
						organize our local events. The ease of use and support from the team have
						been outstanding, helping us reach more attendees and manage everything smoothly.
						Highly recommend!</p>
				</div>
				<div class="row mt-lg-5 mt-4">
					<div class="col-md-10 mx-auto">
						<div class="owl-two owl-carousel owl-theme">
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Our online local event management website simplifies the process of organizing
											and promoting local events. It offers a user-friendly interface for event creation,
											management, and ticket sales, ensuring a seamless experience for both organizers
											and attendees. We focus on providing efficient tools and support to help you manage
											your events successfully.</p>
										<div class="name mt-4">
											<h4>Rajesh Nair</h4>
											<p>LocalEvents Inc.</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="{% static 'images/c1.jpg' %}" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Our platform streamlines the management of local events
											by offering comprehensive tools for event creation,
											promotion, and ticketing. With an intuitive interface
											and robust support, our solution makes it easy for
											organizers to reach their audience and manage event logistics efficiently.</p>
										<div class="name mt-4">
											<h4>Ananya Pillai</h4>
											<p>EventHub Solutions</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="{% static 'images/c2.jpg' %}" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Our online event management solution is designed to make organizing
											local events hassle-free. Featuring easy-to-use tools for event setup,
											promotion, and ticketing, our platform helps ensure that every aspect
											of your event runs smoothly from start to finish.</p>
										<div class="name mt-4">
											<h4>Arjun Kumar</h4>
											<p>LocalEvents Inc.</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="{% static 'images/c3.jpg' %}" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">

									<div class="message">
										<p>With our event management website, you can effortlessly plan, promote, and manage
											local events. Our platform provides all the necessary features to streamline
											event operations and enhance attendee engagement, making it the perfect tool
											for successful event organization.</p>
										<div class="name mt-4">
											<h4>Sneha Reddy</h4>
											<p>EventHub Solutions</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="{% static 'images/c4.jpg' %}" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->
	<footer class="w3l-footer-66">
		<div class="footer-28-main">
			<div class="container">
				<div class="row footer-hny-top">
					<div class="col-lg-6 footer-logo pl-lg-0">
						<h2><a class="navbar-brand" href="index.html">Event<span>Master</span></a></h2>
						<!-- if logo is image enable this
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
					</div>
					<div class="col-lg-6 main-social-footer-28 pr-lg-0">
						<a href="https://www.facebook.com/login.php/"><span class="fab fa-facebook"></a>
						<a href="https://twitter.com/login"><span class="fab fa-twitter"></a>
						<a href="https://accounts.google.co.in/"><span class="fab fa-google-plus"></a>
						<a href="https://www.linkedin.com/login"><span class="fab fa-linkedin"></a>
						<a href="https://www.instagram.com/accounts/login/?hl=en"><span class="fab fa-instagram"></a>
					</div>
				</div>
				<div class="row footer-top-28">
					<div class="col-lg-2 col-md-6 footer-list-28 pl-lg-0">
						<h6 class="footer-title-28">Extra Links</h6>
						<ul>
							<li><a href="about.html">About Company</a></li>
							<li><a href="services.html">Our Services</a></li>
							<li><a href="portfolio.html">Recent projects list</a></li>
							<li><a href="blog.html">Latest News blog</a></li>
						</ul>
					</div>
					<div class="col-lg-5 col-md-6 footer-list-28">
						<h6 class="footer-title-28">list of Services</h6>
						<ul class="d-grid footer-column-2">
							<li><a href="services.html">Venue Booking</a></li>
							<li><a href="services.html">Vendor Management</a></li>
							<li><a href="services.html">Event Promotion</a></li>
							<li><a href="services.html">Ticketing and Registration</a></li>
							<li><a href="services.html">Schedule Management</a></li>
							<li><a href="services.html">Attendee Engagement</a></li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-6 footer-list-28">
						<h6 class="footer-title-28">Support</h6>
						<ul>
							<li><a href="#link">Documentation</a></li>
							<li><a href="#link">Privacy policy</a></li>
							<li><a href="#link">Terms of service</a></li>
							<li><a href="#link">24/7 support</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 footer-list-28 pr-lg-0">
<!--						<h6 class="footer-title-28">Working Hours</h6>-->
<!--						<ul class="working-hours">-->
<!--							<li><span>Monday</span> : 8AM - 6AM</li>-->
<!--							<li><span>Tuesday</span> : 8AM - 6AM</li>-->
<!--							<li><span>Wednesday</span> : 8AM - 6AM</li>-->
<!--							<li><span>Thursday - Friday </span> : 8AM - 6AM</li>-->
<!--							<li><span>Sunday</span> : Closed</li>-->
<!--						</ul>-->
					</div>
				</div>
			</div>
			<div class="midd-footer-28 align-center">
				<p class="copy-footer-28">© 2020 EventMaster. All rights reserved | Designed by <a
						href="https://w3layouts.com">W3layouts</a></p>
			</div>
		</div>
		<!-- move top -->
		<button onclick="topFunction()" id="movetop" title="Go to top">
			<span class="fa fa-angle-up"></span>
		</button>
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- /move top -->

	</footer>
	<!--//footer-66 -->
</body>

</html>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- for blog carousel slider -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 30,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
<!-- //script for Testimonials-->
<!-- //script -->

<script src="{% static 'js/bootstrap.min.js' %}"></script>